body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: cover;
}

#gifBackground {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  object-fit: cover;
}

canvas {
  display: block;
}

.start-ui {
  position: absolute;       
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-size: 24px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background: #3a3;         /* dark-green */
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  z-index: 10;              
}



.start-ui:hover {
  background: #4f4;         /* lighter-green on hover */
}